<mat-card class="details mat-elevation-z3">
    <mat-card-title class="title">Create User</mat-card-title>
    <mat-card-subtitle class="subtitle">Página para cadastrar novos usuários.</mat-card-subtitle>
    <mat-divider class="divider"></mat-divider>
    <div class="register-user-form">
        <mat-form-field appearance="outline" class="user-form-input">
            <mat-label>Nome</mat-label>
            <input [(ngModel)]="user.nome" matInput placeholder="Nome">
        </mat-form-field>

        <mat-form-field appearance="outline" class="user-form-input">
            <mat-label>Idade</mat-label>
            <input [(ngModel)]="user.idade" type="number" matInput placeholder="Idade">
        </mat-form-field>

        <mat-form-field appearance="outline" class="user-form-input">
            <mat-label>Foto</mat-label>
            <input [(ngModel)]="user.foto" matInput placeholder="Foto">
        </mat-form-field>
    </div>
    <mat-divider class="divider"></mat-divider>
    <mat-card-actions class="card-actions">
        <button (click)="handleResetInput()" mat-raised-button color="warn">
            <mat-icon class="card-button-icon">clear</mat-icon>Limpar
        </button>
        <button (click)="createUser()" mat-raised-button color="primary">
            <mat-icon class="card-button-icon">save</mat-icon>Salvar
        </button>
    </mat-card-actions>
</mat-card>