<mat-card class="home mat-elevation-z3">
    <mat-card-title class="title">Home</mat-card-title>
    <mat-card-subtitle class="subtitle">
        Aplicação para matéria de TC2, com o objetivo de fixar o conhecimento em angular.
    </mat-card-subtitle>
    <mat-divider class="divider"></mat-divider>
    <mat-card-content>
        <h2>A aplicação terá as seguintes funcionalidades:</h2>
        <mat-list>
            <mat-list-item> 
                <i class="material-icons"> check_circle_outline </i> 
                <span class="span-text">Cadastro de usuários</span> 
            </mat-list-item>
            <mat-list-item> 
                <i class="material-icons"> check_circle_outline </i> 
                <span class="span-text">Visualização de usuários</span> 
            </mat-list-item>
            <mat-list-item> 
                <i class="material-icons">check_circle_outline</i> 
                <span class="span-text">Roteamoneto de páginas</span> 
            </mat-list-item>
        </mat-list>
    </mat-card-content>
</mat-card>
